<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pablo.coches">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.FacturaActivity"
            android:label="Factura">
        </activity>
        <activity
            android:name=".Activitys.Factura2Activity"
            android:label="Factura">
        </activity>
        <activity
            android:name=".Activitys.AcercaDeActivity"
            android:label="AcercaDe">
        </activity>
        <activity android:name=".Activitys.ImagenActivity"
            android:label="Dibujo">
        </activity>
        <activity android:name=".Activitys.ListarFacturaActivity"
            android:label="Lista de facturas">
        </activity>
        <activity android:name=".Activitys.ClienteActivity"
            android:label="Iniciar Sesion">
        </activity>
        <activity android:name=".Activitys.NewClientActivity"
            android:label="Crear Cliente">
        </activity>
        <activity android:name=".Activitys.ListarClientesActivity"
            android:label="Lista Clientes">
        </activity>
        <activity android:name=".Activitys.InfoFactura_Activity"
            android:label="Info Factura">
        </activity>
    </application>

</manifest>
